<%= render 'layouts/create_sidebar' %>
<div class='span9'>
  <div class='hero-unit'>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span4'>
          <%= form_tag :action => 'create' %>
          
          <p> Create Datacenter</p>
            <%= text_field :datacenter, :name, :placeholder => "Name" %>

            <p>Location</p>
            <%= text_field :location, :address, :placeholder => "Address" %>
            <%= text_field :location, :city, :placeholder => "City" %>
            <%= text_field :location, :state, :placeholder => "State" %>
            <%= text_field :location, :country, :placeholder => "Country" %>

          <p>
            <%= submit_tag 'Create' %>
          </p>
          <%= form_tag %>          
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<label for='datacenter'>Create a new Datacenter</label>
  <label for='name'>Location:</label>
  <label for='name'>Address:</label>
  <input class='text' name='addr' type='text' />
  <label for='name'>City:</label>
  <input class='text' name='city' type='text' />
  <label for='name'>State:</label>
  <input class='text' name='state' type='text' />
  <label for='name'>Zipcode:</label>
  <input class='text' name='zip' type='text' />
  <label for='name'>Country:</label>
  <input class='text' name='country' type='text' />
  <label for='name'>Name:</label>
  <input class='text' name='name' type='text'>
    <input class='btn' type='submit' value='Send' />
  </input>